#alibar.mod-alibar.fd-clr
  #alibar-v4
    .alibar-container
      .account-sign-status
        ul
          li.account-welcome
            | 您好，
            span.account-id
              | 欢迎来到阿里巴巴
          li.account-msg.fd-hide
            a(rel='nofollow',href='http://work.china.alibaba.com/app/messageCenter.htm',title='查看你的消息') 消息
          li.account-signin
            a(rel='nofollow',href='https://loginchina.alibaba.com/member/signin.htm?Done=http://china.alibaba.com/',title='请登录',target='_self',data-trace='cn_alibar_login') 请登录
          li.account-signup
            a(rel='nofollow',href='http://china.alibaba.com/member/join/common_join.htm',title='免费注册',data-trace='cn_alibar_reg') 免费注册
          li.account-signout.fd-hide
            a(rel='nofollow',href='http://loginchina.alibaba.com/member/signout.htm',title='退出',data-trace='cn_alibar_quit') 退出
      .topnav
        ul
          li.topnav-myali.extra.list-first
            .nav-title
              a.nav-arrow(rel='nofollow',href='http://china.alibaba.com/member/myalibaba.htm',title='我的阿里',data-trace='cn_alibar_myali') 我的阿里
            .nav-content
              dl
                dt
                  | 采购
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/app/buyList.htm',title='已买到货品',data-trace='cn_alibar_myali_bought') 已买到货品
                dd
                  a(rel='nofollow',href='http://caigou.china.alibaba.com/buyoffer/post_offer.htm?tracelog=bing_post_visit_alibar&amp;source_type=alibar&amp;formtype=full',title='发布询价单',data-trace='cn_alibar_myali_rfq_post') 发布询价单
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/app/RFQManage.htm',title='管理询价单',data-trace='cn_alibar_myali_rfq_manage') 管理询价单
              dl
                dt
                  | 销售
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/app/saleList.htm',title='已卖出货品',data-trace='cn_alibar_myali_sold') 已卖出货品
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/app/orderPost.htm',title='发布供应产品',data-trace='cn_alibar_myali_offer_post') 发布供应产品
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/app/orderManage.htm',title='管理供应产品',data-trace='cn_alibar_myali_offer_manage') 管理供应产品
              dl
                dt
                  | 工具
                dd
                  a(rel='nofollow',href='http://work.china.alibaba.com/#app=winporter',title='管理旺铺',data-trace='cn_alibar_myali_winport') 管理旺铺
                dd
                  a(rel='nofollow',href='http://view.china.alibaba.com/cms/itbu/app/index.html',title='应用市场',data-trace='cn_alibar_myali_pc') 应用市场
                dd
                  a(rel='nofollow',href='http://56.china.alibaba.com/',title='物流服务',data-trace='cn_alibar_myali_56') 物流服务
          li.topnav-purchaselist.extra.topnav-purchaselist-empty
            .nav-title
              a.nav-arrow(rel='nofollow',href='http://order.china.alibaba.com/order/purchase/purchase_list.htm',title='进货单',data-trace='cn_alibar_cart')
                span
                | 进货单(
                em 0
                | )
            .nav-content
              .product-list.fd-clr
                p
                  | 进货单中暂未添加任何货品
                .alibar-loading.fd-hide
              .purchase-info.fd-clr
                a.btn-y(title='查看进货单',href='http://order.china.alibaba.com/order/purchase/purchase_list.htm') 查看进货单
          li
            .nav-title
              a(href='http://work.china.alibaba.com/app/myFavorites.htm',title='收藏夹',data-trace='cn_alibar_myali_fav') 收藏夹
          li.topnav-tp.extra
            .nav-title
              a.nav-arrow(rel='nofollow',href='http://cxt.china.alibaba.com/',title='诚信通服务',data-trace='cn_alibar_cxt') 诚信通服务
            .nav-content
              dl
                dd
                  a.contact-us(rel='nofollow',href='http://view.china.alibaba.com/cms/promotion/ppcall6188.html?tracelog=cxt_jd',title='免费联系我们',data-trace='cn_alibar_cxt_contact') 免费联系我们
                dd
                  a.order-online.alitalk.alitalk-on(rel='nofollow',href='javascript:;',data-alitalk-shunt='{\'positionId\':\'Top_Banner\'}',title='在线订购申请',data-trace='cn_alibar_cxt_alitalk') 在线订购申请
                dd
                  a.renewal-online(rel='nofollow',href='http://view.china.alibaba.com/cms/promotion/cxtzxxy.html',title='在线办理续费',data-trace='cn_alibar_cxt_renewal') 在线办理续费
                dd
                  a.apply-form(rel='nofollow',href='http://view.china.alibaba.com/cms/promotion/cxt/qybd/index.html',title='免费填写申请表',data-trace='cn_alibar_cxt_form') 免费填写申请表
                dd
                  a.join-promotion(rel='nofollow',href='http://view.china.alibaba.com/cms/video/cxt/hd/index.html',title='参加优惠活动',data-trace='cn_alibar_cxt_coupon') 参加优惠活动
          li
            .nav-title
              a(href='http://page.china.alibaba.com/indexseller.html',title='供应商专区',data-trace='cn_alibar_supplier') 供应商专区
          li.topnav-kf.extra
            .nav-title
              a.nav-arrow(rel='nofollow',href='http://service.china.alibaba.com/kf/index.html?tracelog=kf_2012_budian_shouyetongyi',title='客服中心',target='_blank') 客服中心
            .nav-content
              dl
                dd
                  a(rel='nofollow',href='http://page.china.alibaba.com/html/service/aliguide/seller_user_guide.html?tracelog=kf_2012_budian_shouyetongyi1',title='新手上路',target='_blank') 新手上路
                dd
                  a(rel='nofollow',href='http://service.china.alibaba.com/kf/question/mjbz.html?tracelog=kf_2012_budian_shouyetongyi3',title='买家帮助',target='_blank') 买家帮助
                dd
                  a(rel='nofollow',href='http://service.china.alibaba.com/kf/question/sellerbz.html?tracelog=kf_2012_budian_shouyetongyi2',title='卖家帮助',target='_blank') 卖家帮助
                dd
                  a(rel='nofollow',href='http://china.alibaba.com/member/sso/sso.do?to_url=http%3A%2F%2Fportal.manjushri.alibaba.com%2Fportal%2Fportal%2Finit.jspa%3FinstanceCode%3DALIR00000161%26scenceCode%3DSCEN00002864%26digest%3D224839255030dd74f7c6c08c54dd78e2&amp;unlogin_url=http%3A%2F%2Fportal.manjushri.alibaba.com%2Fportal%2Fportal%2Finit.jspa%3FinstanceCode%3DALIR00000161%26scenceCode%3DSCEN00002864%26digest%3D224839255030dd74f7c6c08c54dd78e2',title='在线咨询',target='_blank') 在线咨询
          li.topnav-sitemap.extra
            .nav-title
              a.nav-arrow(href='http://page.china.alibaba.com/system/sitemap.html',title='网站导航',data-trace='cn_alibar_allservice') 网站导航
            .nav-content
              dl
                dt
                  | 安全交易
                dd
                  a(rel='nofollow',href='http://page.china.alibaba.com/buyerprotection/buyer.html',title='买家保障',data-trace='cn_alibar_allservice_ buyerprotection') 买家保障
                dd
                  a(rel='nofollow',href='http://page.china.alibaba.com/trust/rztx.html',title='商家认证',data-trace='cn_alibar_allservice_rztx') 商家认证
                dd
                  a(rel='nofollow',href='http://view.china.alibaba.com/cms/safe/xyzf/zwz/alipay/zfbyxy.html',title='支付宝',data-trace='cn_alibar_allservice_alipay') 支付宝
                dd
                  a(rel='nofollow',href='http://levit.china.alibaba.com/complain/cmtPost/selectPage.htm',title='投诉举报',data-trace='cn_alibar_allservice_flag') 投诉举报
              dl
                dt
                  | 常用工具
                dd
                  a(rel='nofollow',href='http://view.china.alibaba.com/cms/shangji/sjzl.html',title='商机助理',data-trace='cn_alibar_allservice_assistant') 商机助理
                dd
                  a(rel='nofollow',href='http://view.china.alibaba.com/cms/promotion/shangjikuaidi/200904/index.html',title='商机快递',data-trace='cn_alibar_allservice_subscribe') 商机快递
                dd
                  a(rel='nofollow',href='http://wangwang.1688.com/',title='阿里旺旺',data-trace='cn_alibar_allservice_alitalk') 阿里旺旺
                dd
                  a(rel='nofollow',href='http://3g.china.alibaba.com/',title='手机阿里',data-trace='cn_alibar_allservice_mobile') 手机阿里
              dl
                dt
                  | 资讯社区
                dd
                  a(rel='nofollow',href='http://info.china.alibaba.com/',title='商业资讯',data-trace='cn_alibar_allservice_info') 商业资讯
                dd
                  a(rel='nofollow',href='http://club.china.alibaba.com/forum/index.html',title='论坛',data-trace='cn_alibar_allservice_forum') 论坛
                  a(rel='nofollow',href='http://blog.china.alibaba.com/',title='博客',data-trace='cn_alibar_allservice_blog') 博客
                dd
                  a(rel='nofollow',href='http://quan.china.alibaba.com/',title='商友圈',data-trace='cn_alibar_allservice_quan') 商友圈
                dd
                  a(rel='nofollow',href='http://baike.china.alibaba.com/',title='生意经',data-trace='cn_alibar_allservice_baike') 生意经
              dl
                dt
                  | 商机市场
                dd
                  a(rel='nofollow',href='http://yl.china.alibaba.com/',title='原材料',data-trace='cn_alibar_allservice_yl') 原材料
                  a(rel='nofollow',href='http://industry.china.alibaba.com/',title='工业品',data-trace='cn_alibar_allservice_industry') 工业品
                dd
                  a(rel='nofollow',href='http://fuzhuang.china.alibaba.com/',title='服装服饰',data-trace='cn_alibar_allservice_fz') 服装服饰
                  a(rel='nofollow',href='http://home.china.alibaba.com/',title='家居百货',data-trace='cn_alibar_allservice_jiaju') 家居百货
                dd
                  a(rel='nofollow',href='http://smart.china.alibaba.com/',title='小商品',data-trace='cn_alibar_allservice_xsp') 小商品
                  a(rel='nofollow',href='http://food.china.alibaba.com/',title='农食',data-trace='cn_alibar_allservice_food') 农食
                  a(rel='nofollow',href='http://daili.china.alibaba.com/',title='代理',data-trace='cn_alibar_allservice_daili') 代理
                dd
                  a(rel='nofollow',href='http://vip.pifa.china.alibaba.com/',title='VIP批发',data-trace='cn_alibar_allservice_vippifa') VIP批发
                  a(rel='nofollow',href='http://view.china.alibaba.com/cms/promotion/samplecenter/index.html',title='样品中心',data-trace='cn_alibar_allservice_samplecenter') 样品中心
    .alibar-tips.fd-hide
      .tips-content
        .tip-logo
        .tip-text
          | 阿里巴巴中国站和淘宝网会员帐号体系、《阿里巴巴服务条款》升级，完成登录后两边同时登录成功。
          a.fd-right.detail-link(href='http://page.china.alibaba.com/2012/notice.html',target='_blank') 查看详情&gt;&gt;
        .tips-close
      .tips-top
